body {
    background-color: rgb(151, 103, 207);
}
.content {
    margin: auto;
    width: 500px;
}
.form {
    background-color: violet;
    padding: 10px;
    width: 250px;
    border: white solid 2px;
}
button {
    background-color: purple;
    color: whitesmoke;
}
.book {
    width: 250px;
    background-color: lightpink;
    font-size: large;
    padding: 10px;
    border: white solid 2px;
}